@charset "UTF-8";
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }

    /* Navbar styles */
    .navbar {
      background-color: #C90913;
      overflow: hidden;
      color: white;
    }

    .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Float the 'New Group' button to the left */
    .navbar #newGroupButton {
      float: left;
    }

    /* Float the home, profile, and other buttons to the right */
    .navbar #homeButton,
    .navbar #profileButton {
      float: right;
    }
