<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add a New Study Group</title>
	<link rel="stylesheet" type="text/css" href="popUpCourseStudyGroup.css"/> 
</head>
<body>
	<div class="course-form">
		<h2>New Study Group</h2>
		<form action="/schedule" method="post">
			<div class="form-group">
				<label for="courseName">Course Name</label>
				<input type="text" id="courseName" name="coursename" placeholder="(NAME ID)" required>
			</div>
            <div class="form-group">
				<label for="courseLocation">Location</label>
				<input type="text" id="courseLocation" name="location" required>
			</div>
			<div class="form-group">
				<label for="meetingDate">Date</label>
				<input type="date" id="meetingDate" name="meetingDate" required>
			</div>
            <div class="form-group">
				<label for="meetingTime">Start Time</label>
				<input type="time" id="meetingTime" name="meetingTimeStart" required>
			</div>
            <div class="form-group">
				<label for="courseCap">Capacity</label>
				<input type="number" id="courseCap" name="capacity" placeholder="5" required>
			</div>
			<button type="submit">Create Group</button>
		</form>
  	</div>
</body>
</html>