<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Account</title>
	<link rel="stylesheet" type="text/css" href="SchedulePage.css" /> 
    <script src="SchedulePage.js"></script>
</head>
<body>
  <div class="navbar">
    <div class = "LoggedIn" id="LoggedIn">
      <a id="newGroupButton" href="/newStudyGroup">New Group</a>
      <a id="logoutButton"  href="/" onclick = "logUserOut()"> Logout</a>
      <a id="profileButton" href="/userProfile">Profile</a>
      <a id="homeButton"  >Home</a>
    </div>
    <div class = "notLoggedIn" id = "notLoggedIn">    
      <a id="loginButton"  href="/"> Login Sign Up</a>     
      <a id="homeButton"  >Home</a>
    </div>
  </div>
  
  <!-- TODO (Debug): The elements below in "courseContainer" are placeholders. -->
  <!-- They aren't actual values from the study_groups table. So, you need to  -->
  <!-- modify the html elements populated from the data of the study_groups -->
  <!-- table for guest mode to work, rather than the ones below bc they are just placeholders. -->
  <div class="courseContainer">
    
   
    <!-- Add more courses as needed -->
  </div>
  

</body>
</html>