<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Account</title>
	<link rel="stylesheet" type="text/css" href="SchedulePage.css" /> 
    <script src="SchedulePage.js"></script>
</head>
<body>
  <div class="navbar">
    <a id="newGroupButton" href="/newStudyGroup">New Group</a>
    <a id="logoutButton"  href="/">Logout</a>
    <a id="profileButton" href="/userProfile">Profile</a>
    <a id="homeButton"  >Home</a>
  </div>
  
  <!-- TODO (Debug): The elements below in "courseContainer" are placeholders. -->
  <!-- They aren't actual values from the study_groups table. So, you need to  -->
  <!-- modify the html elements populated from the data of the study_groups -->
  <!-- table for guest mode to work, rather than the ones below bc they are just placeholders. -->
  <div class="courseContainer">
    <div class="course">
      <h2>CSCI 201: Principles of Software Development</h2>
      <div class="label">
        <a id = "status"> Status </a>
        <a id = "location"> Location </a>
        <a id = "time"> Time </a>
        <a id = "size"> Size </a>
      </div>

      <div class="details">DMC 101 | 1:00 PM - 2:00 PM | Size: 6/8</div>
      <div class="join-btn">Join</div>
    </div>
    <div class="course">
      <h2>Math 225: Linear Algebra</h2>
      <div class="label">
        <a id = "status"> Status </a>
        <a id = "location"> Location </a>
        <a id = "time"> Time </a>
        <a id = "size"> Size </a>
      </div>
      <div class="details">GFS 114 | 7:00 PM - 9:00 PM | Size: 3/8</div>
      <div class="join-btn">Join</div>
    </div>
    <div class="course">
      <h2>Chem 105b: General Chemistry</h2>
      <div class="label">
        <a id = "status"> Status </a>
        <a id = "location"> Location </a>
        <a id = "time"> Time </a>
        <a id = "size"> Size </a>
      </div>
      <div class="details">LCS 101 | 3:00 PM - 5:00 PM | Size: 5/5</div>
      <div class="join-btn">Join</div>
    </div>
    <!-- Add more courses as needed -->
  </div>
  

</body>
</html>